body {
    background-color: rgb(180, 173, 166);
    font: normal 18pt Helvetica;
}

header {
text-align: center;
color: white;
}

section {
    
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.952); /* deslocamento lateral, vertical, espalhamento e a cor */
}

div {
    text-align: center;
    padding: 10px;
}

footer {
color: white;
margin:auto;
text-align: center;
font-style: italic;
padding: 15px;
}